.cart_cards_container {
    min-height: 80vh;
}

/* ===calculation=== */
.calculation_main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid grey;
}

.hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .75), transparent);
}

.qty-btn:hover {
    cursor: pointer;
}

.qty_mgmt {

    display: flex;
    max-width: fit-content;
    gap: 1rem;
}

.cart_qty {
    border: 1px solid grey;
    padding: 0 15px;
}

.calculate_item_container {
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
}

.calculate_item {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.calculation_footer {
    display: flex;
    justify-content: space-between;
}

/* ===Cart Card === */

.cart_btn_grp {
    display: flex;
    gap: 1rem;
}

/* ====Main=== */

.cart_card_container {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.cart_item_cards_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart_right_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}

.checkout_btn {
    border: 1px solid blue;
    padding: 0.7rem;
    width: 100%;
    background-color: #3182ce;
    border: #e2e8f0;
    color: white;
    font-weight: 600;
    border-radius: 0.375rem;
}

@media screen and (min-width: 850px) {
    .cart_card_container {
        flex-direction: row;
    }
}