.aside{
    /* border: 2px solid purple; */
    /* min-width: max-content; */
    padding: 0 1rem;
    flex: 0 0 250px;
    align-self: flex-start;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aside>*{
    /* border: 2px solid orange; */
}

.aside-filters-upper-container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.clear-filters{
    color: grey;
}