.aside {
    padding: 0 1rem;
    flex: 0 0 250px;
    align-self: flex-start;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aside-filters-upper-container {
    display: flex;
    justify-content: space-between;
}

.clear-filters {
    color: grey;
}

@media screen and (max-width: 620px) {
    .aside {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .aside-filters-upper-container {
        flex-direction: column;
        justify-content: flex-start;
    }
}