.product_detail_main {
    min-height: 100vh;
}

/* .product-detail-main-container{
    padding: 1rem;
}

.product-detail{
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: fit-content;
    background: #fff;
    margin: auto;
    margin-top: 5rem;
    flex-direction: column;
    border: 1px solid rgb(224, 224, 224);
}

.product-detail-right-container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    max-width: 25rem;
    padding: .5rem;
}

.product-detail-review-container{
    font: inherit;
}
.product-detail-price{
    font-weight: 500;
}

.font-wt-bold{
    font-weight: 700;
}

.product-detail-image-container{
    flex: 0 0 50%;
    max-width: 25rem;
    background: rgb(244, 241, 241);
    overflow: hidden;
}

.product-detail-image{
    max-width: 100%;
    min-height: 100%;
    object-fit: contain;
    padding: 1rem;
    border-radius: 20px;
}

.product-detail-button-container{
    display: flex;
    gap: 1rem;
}

.product-detail-button-dimension{
    padding: 0 16px;
    font-weight: 600;
        height: 2.5rem;
        min-width: 2.5rem;
        border-radius: 0.375rem;
}

.product-detail-button-cart{
    background-color: #3182ce;
    border: #e2e8f0;
    color: white;
}

.product-detail-button-wishlist{
background-color: #fff;
border: 1px solid #3182ce;
color: #3182ce;
}

@media screen and (min-width: 670px) {
    .product-detail{
        flex-direction: row;
    }
    .product-detail-right-container{
        gap: 1.5rem;
    }
} */