.banner-text {
    color: #fff;
    /* border: 1px solid red; */
    /* margin: auto; */
    text-align: center;
    margin-top: 30px;
}

.banner-text>* {
    opacity: 0;
    animation: arrive 1s forwards;
    position: relative;
}

.eyebrow-text {
    font-size: 16px;
    line-height: 20px;
    /* text-align: center; */
    height: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, .65);
}

@keyframes arrive {
    0% {
        top: -50px;
        /* Start position above the container */
        opacity: 0;
        /* Start opacity */
    }

    100% {
        top: 0;
        /* End position at the top of the container */
        opacity: 1;
        /* End opacity */
    }
}

.banner-logo {
    margin: 16px 0;
    animation-delay: 0.1s;
}

.banner-slogan {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    animation-delay: 0.2s;
}

.banner-btn {
    margin: 24px 0 0 0;
    background: transparent;
    padding: 5px 36px;
    border-radius: 64px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    animation-delay: 0.1s;
}

.banner-btn:hover {
    background-color: rgba(255, 255, 255, .10);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}