.logout_container {
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
}

.logout_container main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
}

.logout_explore {
    padding: 0.9rem;
    background: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    transition: 1s;
    width: 100%;
}

.logout_explore:hover {
    background: var(--primary-color);
    color: white;
    cursor: pointer;
}